body{
    margin: 0;
}
#header{
    font-family: Verdana, Arial, san-serif;
    font-size:1em;
    color: #202020;
    text-align: center;
}
.label{
    font-weight: bold;
    font-size: .7em;
}
.title{
    font-size: 1em;
}